<div class="header-main">
    <header>
        <!-- Header Title  -->
        <div class="header-title">
            <h1>Billionaire Bytes Innovations</h1>
        </div>
    </header>
</div>
<!-- Header Navigation  -->
<div class="header-nav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
</div>