<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- Stylesheet Link -->
  <link rel="stylesheet" href="/public/css/header.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
  <!-- Header -->
  <%- include('header') %>

    <h1>
      <%= title %>
    </h1>
    <p>Welcome to your EJS-powered application!</p>

    <!-- Footer  -->
    <%- include('footer') %>
</body>
</html>