<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Stylesheet Links -->
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <!-- Header -->
    <%- include('header') %>
    
    <div class="login-header">
        <h1>Login as: </h1>
    </div>
    
    <div class="login-selection" id="login-selection">
        <div class="login-option" onclick="showLoginForm('buyer')">
            <img src="/public/images/food-stall.png" alt="Buyer" class="login-option-image">
            <h2>Buyer</h2>
        </div>
        <div class="login-option" onclick="showLoginForm('seller')">
            <img src="/public/images/estate-agent.png" alt="Seller" class="login-option-image">
            <h2>Seller</h2>
        </div>
    </div>

    <div class="login-content" id="login-content" style="display:none;">
        <div class="login-form">
            <h1 id="login-title"></h1>
            <form action="/login" method="post">
                <input type="hidden" name="role" id="userType">
                <div class="login-image">
                    <img id="login-image" src="/public/images/food-stall.png" alt="buyer" style="height: auto; width: 200px;">
                </div>
                <% if (typeof error !== 'undefined' && error.length > 0) { %>
                    <div class="error-message"><%= error[0] %></div>
                <% } %>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/register">Create one</a></p>
        </div>
    </div>

    <script>
        function showLoginForm(userType) {
            const userTypeText = userType.charAt(0).toUpperCase() + userType.slice(1);
            document.getElementById('login-title').innerText = `${userTypeText}`;
            document.getElementById('userType').value = userType;
            const imgSrc = userType === 'seller' ? '/public/images/estate-agent.png' : '/public/images/food-stall.png';
            document.getElementById('login-image').src = imgSrc;
            document.getElementById('login-selection').style.display = 'none';
            document.getElementById('login-content').style.display = 'flex';
        }
    </script>

    <!-- Footer -->
    <%- include('footer') %>
</body>
</html>
