/* General styling for login page */
.login-main-title {
    text-align: center;
    margin-top: 30px;
}

.login-selection {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 30px 0;
}

.login-option {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-option:hover {
    transform: scale(1.05);
}

.login-option-image {
    width: 200px;
    height: auto;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3cb371;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #2e8b57;
}

.login-form p {
    text-align: center;
}

.login-form a {
    color: #3cb371;
    text-decoration: none;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-header {
    text-align: center;
}

.login-content {
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
}

.login-content.active {
    display: flex; /* Flex display when active */
}

.login-form {
    max-width: 400px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-image{
    text-align: center;
}
#login-title{
    text-align: center;
}